body {
    color:#000;
    background-color:white;
    margin:3%;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: medium;
    }
h1 {
    margin:0px 0px 1em 0px;
    padding:0px;
    color:#00a;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: xx-large;
    font-weight: 500;
    }
h2 {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: x-large;
    margin:0.5em 0px 0.5em 0px;
    color:#008;
    }
h3 {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: 500;
    font-size: large;
    color:#006;
    margin:0.3em 0px 0.3em 0px;
    }
p {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: 500;
    font-size: medium;
    margin:0px 0px 0.3em 0px;
    }
a {
    color:#09c;
    font-family: Verdana,Arial,Helvetica,sans-serif;

    }
a:link {color:#09c; text-decoration: none}
a:visited {color:#058; text-decoration: none}
a:visited:hover {color:#27a; text-decoration: none}
a:hover {color:#4ae; }

table {
    margin:0px 0px 1em 0px;
}

td {
    vertical-align: baseline;
    padding: 0.15em;
}
