[Desktop Entry]
Name=Micos Stage Controller
Comment=GUI to control Optical Shutter and Micos SMC Basic Microcontroller
GenericName=Microcontroller
Exec=/path/to/micron/project_guimicro/guimicro.py
Terminal=false
Type=Application
Icon=/path/to/micron/project_guimicro/icons/guimicro.svg
Categories=Utility;Electronics;
StartupNotify=false
